<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   
</head>
<body>
    <%- include("nav") %>
        <section class="banner">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="https://opencart.templatetrip.com/OPC04/OPC102_intraart/OPC03/image/cache/catalog/demo/banners/slider-02-1903x950.jpg"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://opencart.templatetrip.com/OPC04/OPC102_intraart/OPC03/image/cache/catalog/demo/banners/slider-01-1903x950.jpg"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://opencart.templatetrip.com/OPC04/OPC102_intraart/OPC03/image/cache/catalog/demo/banners/slider-02-1903x950.jpg"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://opencart.templatetrip.com/OPC04/OPC102_intraart/OPC03/image/cache/catalog/demo/banners/slider-01-1903x950.jpg"
                            alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 2  -->
        <section class="banner-2">
            <div class="container">
                <div class="row">
                    <div class="w-50 banners">
                        <div class="overlay"></div>
                        <img src="img/banner-01.jpg" alt="">
                    </div>
                    <div class="w-50 banners">
                        <div class="overlay"></div>
                        <img src="img/banner-02.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- product section  -->
        <section>
            <div class="container">
                <h2 class="heading">TRENDING PRODUCTS</h2>
                <div class="chair-icon">
                    <i class="fa-solid fa-chair"></i>
                </div>
                <div class="heading-2">
                    <ul class="row">
                        <li><a href="#">Featured</a></li>
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">BestSeller</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- product images section  -->
        <section class="product-box">
            <div class="container">
                <div class="row">
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/01-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/01--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Aliquam Quaerat Voluptatem</h5>
                            <p>$122.00</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/05-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/05--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Magni Dolores Eosquies</h5>
                            <p>$122.00</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/19-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/19--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Voluptate Velit Esse</h5>
                            <p>$123.20</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/09-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/09--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Perspiciatis Unde Omnis</h5>
                            <p>$14.00</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/04-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/04--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Aspetur Autodit Autfugit</h5>
                            <p>$122.00</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/17-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/17--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Voluptas Nulla Pariatur</h5>
                            <p>$1,202.00</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/11-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/11--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Quis Autem Veleuminium</h5>
                            <p>$2000.00</p>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="main-image-div">
                            <div class="product-img">
                                <img src="/img/03-385x500.jpg" alt="Product Image">
                            </div>
                            <div class="image-div">
                                <img src="/img/03--385x500.jpg" alt="Additional Image">
                            </div>
                            <div class="icon-div">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-chart-simple"></i>
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                        <div class="image-content">
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <h5>Aliquam Quat Voluptatem</h5>
                            <p>$122.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- furniture section  -->
        <section>
            <div class="container">
                <div class="furniture row">
                    <div class="w-40">
                        <h4>-Modern Furniture-</h4>
                        <h2>FURNITURE </br>
                            <span>STORE</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur do eiusmod tempor incididunt ut labore et dolore
                            magna minim veniam, quis exercitation ullamco laboris..</p>
                        <button>Shop Now</button>
                    </div>
                    <div class="w-60">
                        <div class="img-furniture row">
                            <div class="img-box1">
                                <img src="/img/furniture-1.jpg" alt="" class="image">
                                <div class="icon-hover">
                                    <a href="#" class="icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="img-box2">
                                <img src="/img/furniture-2.jpg" alt="" class="image">
                                <div class="icon-hover">
                                    <a href="#" class="icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- decorative crafts section  -->
        <section class="crafts">
            <div class="container">
                <div class="row">
                    <div class="w-50">
                        <div class="crafts-img">
                            <img src="/img/cms-img-01.jpg" alt="">
                            <div class="crafts-img-2">
                                <img src="/img/cms-img-02.png" alt="">
                            </div>
                            <div class="bg-box"></div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="crafts-content">
                            <h4>- Modern Furniture -</h4>
                            <h2>DECORATIVE </br>
                                <span>CRAFTS</span>
                            </h2>
                            <p>Lorem ipsum eiusmod dolor adi eiusmod incididunt.adi eiusmod tempor adi eiusmod tempor.
                            </p>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 3 -->
        <section class="banner-img-3">
            <div class="container">
                <img src="/img/banner-03.jpg" alt="">
            </div>
        </section>
        <!-- service section  -->
        <section class="service">
            <div class="container">
                <div class="row">
                    <div class="w-33">
                        <div class="service-box">
                            <img src="/img/piggy.png" alt="">
                            <div class="service-content">
                                <h2>GET BIG SAVINGS</h2>
                                <p>Get Big Dicount Every Day !</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-33 border-box">
                        <div class="service-box">
                            <img src="/img/head-phone.png" alt="">
                            <div class="service-content">
                                <h2>24*7 SUPPORTS ONLINE</h2>
                                <p>Get Big Dicount Every Day !</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-33">
                        <div class="service-box">
                            <img src="/img/truck.png" alt="">
                            <div class="service-content">
                                <h2>FREE TO DEVIVERY</h2>
                                <p>On Order Over $199.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- latest news section  -->
        <section class="news">
            <div class="container">
                <h2 class="heading">LATEST NEWS</h2>
                <div class="chair-icon">
                    <i class="fa-solid fa-chair"></i>
                </div>
                <div class="row">
                    <div class="w-33">
                        <div class="latest-news">
                            <div class="latest-news-overlay">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <img src="/img/3-home-default -390x520.jpg" alt="">
                            <div class="latest-news-content">
                                <h3>Aliquam Quaerat Voluptatem</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                                <a href="#">Read More <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="w-33">
                        <div class="latest-news">
                            <div class="latest-news-overlay">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <img src="/img/2-home-default -390x520.jpg" alt="">
                            <div class="latest-news-content">
                                <h3>suscipit laboriosam nisi</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industr...</p>
                                <a href="#">Read More <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="w-33">
                        <div class="latest-news">
                            <div class="latest-news-overlay">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <img src="/img/1-home-default -390x520.jpg" alt="">
                            <div class="latest-news-content">
                                <h3>voluptate velit esse</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ...</p>
                                <a href="#">Read More <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include("footer") %>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        autoplay: {
            delay: 2000,
            disableOnInteraction: false,
        },

    });
</script>
</html>