<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include("nav") %>
        <section class="header ">
            <div class="container row">
                <div class="w-50">
                    <p class="p-title">Register Account</p>
                </div>
                <div class="w-50 row icons">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-angle-right"></i>
                    <p>Account</p><i class="fa-solid fa-angle-right"></i>
                    <p>Register</p>
                </div>
            </div>
        </section>
        <section class="login-form">
            <div class="container">
                <div class="row">
                    <div class="width-box">
                        <div class="content-form">
                            <h2>NEW CUSTOMER</h2>
                            <h5>Register</h5>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's
                                status, and keep track of the orders you have previously made.</p>
                        </div>
                        <div class="bottom-form">
                            <a href="/user/signup" class="continue-btn">Continue</a>
                        </div>
                    </div>
                    <div class="width-box">
                        <div class="content-form">
                            <h2>RETURNING CUSTOMER</h2>
                            <h5>I am a returning customer</h5>
                            <form action="/user/login" method="post">
                                <label for="email">Your email address</label>
                                <input type="email" name="email" placeholder="Your email address">
                                <label for="password">Password</label>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="bottom-form align-items justify-content">
                                <h3><a href="/user/resetpassword">Forgotten Password</a></h3>
                                <input type="submit" value="Login" class="login-btn">
                            </div>
                        </div>
                            </form>
                </div>
            </div>
        </section>
        <%- include("footer") %>
</body>

</html>