<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/all.min.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
  <div id="nav">
    <a href="#"><img src="/img/logo.png" alt=""></a>
    <a href="/">home</a>
    <a href="/product/products">Products</a>
    <a href="/product/create">add product</a>
    <a href="/product/cart">cart</a>
    <a href="/user/login">login</a>
    <a href="/user/signup">signup</a>
    <a href="/product/user">User</a>
  </div>
</body>

</html>