<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp</title>
</head>
<body>
    <%- include("nav") %>
    <section class="resetform">
        <h1>OTP verify</h1>
        <form action="/user/reset/otp" method="post">
            <input type="text" name="otp" placeholder="Enter your OTP " >
           <button id="submit">Submit</button>
        </form>
    </section>
</body>
</html>