<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="/resetPassword" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        New Password: <input type="password" name="newPassword" required><br>
        <input type="submit" value="Reset Password">
    </form>
</body>

</html>