<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add-product</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        border-radius: 20px;
      }

      input[type='text'],
      input[type='number'],
      input[type='url'],
      input[type='submit'],
      select {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
      }

      input[type='submit'] {
        background-color: rgba(47, 96, 104, 0.738);
        color: black;
        cursor: pointer;
        border: 1px solid black;
      }

      input[type='submit']:hover {
        background-color: #366E78;
      }
      .p-title {
      text-align: center;
      padding-top: 20px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    </style>
  </head>
  <body>
    <%- include("nav") %>
    <p class="p-title">Add Your Product Here</p>
    <form action="/product/create" method="post">
      <input type="text" name="title" placeholder="Title" /><br>
      <input type="text" name="category" placeholder="Category" /><br>
      <input type="number" name="price" placeholder="Price" /><br>
      <select name="availability">
        <option value="in stock">In Stock</option>
        <option value="out of stock">Out of Stock</option>
      </select><br>
      <input type="url" name="img" placeholder="Image URL" /><br>
      <input type="text" name="colour" placeholder="Color" /><br>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
