<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add-product</title>
    <link rel="stylesheet" href="/footer.css">
   <link rel="stylesheet" href="/css/addproduct.css">
  </head>
  <body>
    <%- include("nav") %>
    <p class="p-title">Add Your Product Here</p>
    <form action="/product/create" method="post">
      <input type="text" name="title" placeholder="Title" /><br>
      <input type="text" name="category" placeholder="Category" /><br>
      <input type="number" name="price" placeholder="Price" /><br>
      <select name="availability">
        <option value="in stock">In Stock</option>
        <option value="out of stock">Out of Stock</option>
      </select><br>
      <input type="url" name="img" placeholder="Image URL" /><br>
      <input type="text" name="colour" placeholder="Color" /><br>
      <input type="submit" value="Submit" />
    </form>
    <%- include("footer") %>

  </body>
</html>
