<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Products</title>
  <link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="/css/products.css">
</head>

<body>

  <%- include("nav") %>
  <p class="p-title">All Products</p>
  <div id="box"></div>
  <%- include("footer") %>

  <script>
    const handlecart = (id) => {
      console.log(id);
      fetch("/product/cart", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ productId: id }),
      })
    }

    const display = (data) => {
      document.getElementById("box").innerHTML = "";
      data.map((ele) => {
        let img = document.createElement("img");
        img.src = ele.img;
        img.classList.add("product-img");

        let title = document.createElement("h3");
        title.innerHTML = `Title: ${ele.title}`;

        let category = document.createElement("p");
        category.innerHTML = `Category: ${ele.category}`;

        let price = document.createElement("p");
        price.innerHTML = `Price: $${ele.price}`;

        let availability = document.createElement("p");
        availability.innerHTML = `Availability: ${ele.availability}`;

        let colour = document.createElement("p");
        colour.innerHTML = `Colour: ${ele.colour}`;

        let btn1 = document.createElement("button");
        btn1.innerHTML = "Buy";
        btn1.addEventListener("click", () => {
          handlecart(ele._id);
        })

        let detailsDiv = document.createElement("div");
        detailsDiv.classList.add("product-details");
        detailsDiv.append(title, category, price, availability, colour, btn1);

        let detailsContainer = document.createElement("div");
        detailsContainer.classList.add("product-details-container");
        detailsContainer.append(img, detailsDiv);

        let productBox = document.createElement("div");
        productBox.appendChild(detailsContainer);
        document.getElementById("box").append(productBox);
      });
    };

    // Fetching product data
    fetch("/product")
      .then((response) => response.json())
      .then((response) => display(response))
      .catch((error) => console.log(error));
  </script>
</body>

</html>
