<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .container {
            max-width: 1140px;
            margin: auto;
        }

        .align-items {
            align-items: center;
        }

        .header {
            align-items: center;
            background-color: rgba(128, 128, 128, 0.118);
        }

        .w-50 {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .w-50.icons {
            justify-content: flex-end;
        }

        .icons i,
        .icons p {
            margin-right: 10px;
        }

        .p-title {
            text-align: left;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .resetform form label {
            width: 18%;
            text-align: end;
            font-size: 14px;
            color: #666666;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .resetform form input {
            width: 78%;
            color: #414141;
            border: 1px solid #e5e5e5;
            height: 42px;
            padding: 0 12px;
            letter-spacing: 1px;
            margin: 10px 0;
            outline: none;
        }

        .resetform form span {
            color: red;
            padding: 0 5px;
        }

        .resetform .back-btn {
            background-color: black;
            width: 100px;
            right: 255px;
            color: white;
        }

        .resetform .back-btn:hover {
            background-color: #ffce24;
            color: black;
        }

        .resetform .sub-btn {
            background-color: #face1e;
            width: 100px;
            position: absolute;
            right: 255px;

        }

        .resetform .sub-btn:hover {
            background-color: black;
            color: white;
        }

        .resetform .bottom-form {
            background-color: #f5f5f5;
            height: 60px;
            border: 1px solid #e5e5e5;
        }

        .resetform .bottom-form a {
            background-color: #ffce24;
            padding: 10px 20px;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }

        .resetform .content-form input {
            width: 100%;
            font-size: 14px;
            letter-spacing: 1px;
            color: #414141;
            border: 1px solid #e5e5e5;
            outline: none;
            height: 42px;
            padding: 0 10px;
            margin-bottom: 10px;
        }

        .resetform .content-form label {
            font-size: 14px;
            font-weight: 600;
            color: #666666;
            letter-spacing: 1px;
        }

        .resetform.bottom-form h3 a {
            font-size: 14px;
            color: #666666;
            background-color: transparent;
            float: left;
            font-weight: 500;
        }

        .resetform .login-btn {
            background-color: #ffce24;
            padding: 10px 20px;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 600;
            float: right;
            border: none;
            margin-top: 10px;
            margin-right: 10px;
        }

        .resetform p {
            color: #666666;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 1px;
            padding-top: 30px;
        }

        .resetform h4 {
            font-size: 18px;
            color: #333333;
            padding-top: 20px;
            font-weight: 500;
            letter-spacing: 2px;
            padding-bottom: 5px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <%- include("nav") %>
        <section class="header ">
            <div class="container row">
                <div class="w-50">
                    <p class="p-title">Forget Your Password ?</p>
                </div>
                <div class="w-50 row icons">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-angle-right"></i>
                    <p>Account</p><i class="fa-solid fa-angle-right"></i>
                    <p>Forgotten Password</p>
                </div>
            </div>
        </section>
        <section class="resetform container">
            <p>Enter the e-mail address associated with your account. Click submit to have a password reset link
                e-mailed to you.</p>
            <h4>Your E-Mail Address</h4>
            <form action="/user/email" method="post">
                <label for="email"><span>*</span>Your email address</label>
                <input type="email" name="email" placeholder="Enter your email" required><br>
                <a href="/user/login"><input type="button" name="back" value="Back" class="back-btn"></a>
                <input type="submit" value="Submit" class="sub-btn">
            </form>
        </section>
</body>

</html>