<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <%- include("nav") %>
    <section class="resetform">
        <h1>Forget Password</h1>
        <form action="/user/reset" method="post">
            <input type="text" name="newpassword" placeholder="Enter your new Password" required>
            <input type="text" name="confirmpassword" placeholder="Enter your confirm password" required>
            <input type="submit" value="change Password">
        </form>
    </section>
</body>
</html>