<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset Form</title>
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/css/resetform.css">
</head>

<body>
    <%- include("nav") %>
        <section class="header ">
            <div class="container row">
                <div class="w-50">
                    <p class="p-title">Forget Your Password ?</p>
                </div>
                <div class="w-50 row icons">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-angle-right"></i>
                    <p>Account</p><i class="fa-solid fa-angle-right"></i>
                    <p>Forgotten Password</p>
                </div>
            </div>
        </section>
        <section class="resetform container">
            <p>Enter the e-mail address associated with your account. Click submit to have a password reset link
                e-mailed to you.</p>
            <h4>Your E-Mail Address</h4>
            <form action="/user/email" method="post">
                <label for="email"><span>*</span>Your email address</label>
                <input type="email" name="email" placeholder="Enter your email" required><br>
                <a href="/user/login"><input type="button" name="back" value="Back" class="back-btn"></a>
                <input type="submit" value="Submit" class="sub-btn">
            </form>
        </section>

</body>

</html>