<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
  <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <%- include("nav") %>
        <section class="header ">
            <div class="container row">
                <div class="w-50">
                    <p class="p-title">Register Account</p>
                </div>
                <div class="w-50 row icons">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-angle-right"></i>
                    <p>Account</p><i class="fa-solid fa-angle-right"></i>
                    <p>Register</p>
                </div>
            </div>
        </section>
        <section class="register-form">
            <div class="container">
                <h4><a href="/user/login">If you already have an account with us, please login at the login page.</a>
                </h4>
                <h3>Your Personal Details</h3>
                <form action="/user/signup" method="post">
                    <div class="user row align-items">
                        <label for="username"><span>*</span>User Name</label>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="emailid row align-items">
                        <label for="email"><span>*</span>Your email address</label>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="pass row align-items">
                        <label for="password"><span>*</span>Password</label>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="roles row align-items">
                        <label for="role">Your Role</label>
                        <select name="role">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <input type="submit" value="Signup" class="sub-btn">
                </form>
            </div>
        </section>
        <%- include("footer") %>
</body>

</html>